Magic 271485
Revision Verdi_O-2018.09-SP2

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 27 1920 604 193 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/houdonghui/cm3_ahbmtx_mcu/sim/verilog_sim/boot_to_ca_sim/TOP.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 1953063.964844
cursor 0.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 11
; marker line index
markerPos 27

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByValue


addGroup "G5"
activeDirFile "" "/home/houdonghui/cm3_ahbmtx_mcu/sim/verilog_sim/boot_to_ca_sim/TOP.fsdb"
addSignal -h 15 /TOP/u_mcu_top/u_fp_domain/u_apb3_caliptra_sync/imem_sim/cs_i
addSignal -h 15 -holdScope we_i
addSignal -h 15 -holdScope addr_i[12:0]
addSignal -h 15 -holdScope wdata_i[63:0]
addSignal -h 15 -holdScope rdata_o[63:0]
addGroup "G6"
addSignal -h 15 /TOP/u_mcu_top/u_fp_domain/u_apb3_caliptra_sync/caliptra_top_dut/spi_host/clk_i
addGroup "G7"
addSignal -h 15 /TOP/u_mcu_top/u_fp_domain/u_apb3_caliptra_sync/caliptra_top_dut/rvtop/lsu_haddr[31:0]
addSignal -h 15 -holdScope lsu_hsize[2:0]
addSignal -h 15 -holdScope lsu_htrans[1:0]
addSignal -h 15 -holdScope lsu_hwrite
addSignal -h 15 -holdScope lsu_hwdata[63:0]
addSignal -h 15 -holdScope lsu_hrdata[63:0]
addSignal -h 15 -holdScope lsu_hready
addGroup "G8"
addGroup "G9"
addSignal -h 15 /TOP/u_mcu_top/u_fp_domain/u_apb3_caliptra_sync/caliptra_top_dut/spi_host/haddr_i[11:0]
addSignal -h 15 -holdScope hwdata_i[63:0]
addSignal -h 15 -holdScope hsel_i
addSignal -h 15 -holdScope hwrite_i
addSignal -h 15 -holdScope hready_i
addSignal -h 15 -holdScope htrans_i[1:0]
addSignal -h 15 -holdScope hsize_i[2:0]
addSignal -h 15 -holdScope hrdata_o[63:0]
addGroup "G10"
addSignal -h 15 /TOP/u_mcu_top/u_fp_domain/u_apb3_caliptra_sync/caliptra_top_dut/spi_host/clk_i
addSignal -h 15 -holdScope cio_sck_o
addSignal -expanded -h 15 -holdScope cio_csb_o[1:0]
addSignal -h 15 -holdScope cio_csb_o[1]
addSignal -h 15 -holdScope cio_csb_o[0]
addSignal -h 15 -holdScope cio_sd_o[3:0]
addSignal -h 15 -holdScope cio_sd_i[3:0]
addGroup "G11"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

